@import "tailwindcss";

*{
  scroll-behavior: smooth;
}

body{
  background-color: #f3f4f6;
}

::-webkit-scrollbar { 
  width: 7px; 
  height: 12px; 
}

#root{
  overflow-x: hidden;
}

.title-poppins {
  font-family: poppins, Arial, ; 
}

::-webkit-scrollbar-track {
  background: #ffe6e6; 
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #a41717, #ff4f4f, #a41717); /* Gradient colors */
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #d59292; 
}

/* Customize the scrollbar for Firefox */
body {
  scrollbar-width: thin; 
  scrollbar-color: #5a0000 #f1f1f1; 
}

/* */


/*====================      custom slider      ==========*/


.slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right,
      transparent,
      #000 10% 90%,
      transparent);
}

.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1) * (-1)) !important;
}


.slider .list .stack {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 35s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc((35s / var(--quantity)) * (var(--position) - 1)*(-1)) !important;
}


@keyframes autoRun {
  from {
    left: 100%;
  }

  to {
    left: calc(var(--width) * -1);
  }
}

.slider:hover .item {
  animation-play-state: paused !important;
}

.slider .item div:hover {
  background-color: white;
  color: black
}

.slider[reverse="true"] .item {
  animation: reversePlay 10s linear infinite;
}

@keyframes reversePlay {
  from {
    left: calc(var(--width) * -1);
  }

  to {
    left: 100%;
  }
}
  

/* Add this to your global stylesheet */
.shop-now::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #ffffff;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
}

.shop-now:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
}


/* main loader */

.customLoader {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.truckWrapper {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
}
 
.truckBody {
  width: 130px;
  height: fit-content;
  margin-bottom: 6px;
  animation: motion 1s linear infinite;
}

/* truck suspension animation*/
@keyframes motion {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* truck's tires */
.truckTires {
  width: 130px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 15px;
  position: absolute;
  bottom: 0;
}

.truckTires svg {
  width: 24px;
}

.road {
  width: 100%;
  height: 1.5px;
  background-color: #282828;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  border-radius: 3px;
}

.road::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #282828;
  right: -50%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 10px solid white;
}

.road::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #282828;
  right: -65%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 4px solid white;
} 
 
.lampPost {
  position: absolute;
  bottom: 0;
  right: -90%;
  height: 90px;
  animation: roadAnimation 1.4s linear infinite;
}

@keyframes roadAnimation {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-350px);
  }
}